/* RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none; 
    /* para tirar o sublinhado do link */
    color: inherit;
    /* para nao ter cor nos links */
}
ul, ol, li{
    list-style: none;
    /* para tirar as caracteristicas da lista (como bolinhas, 123) */
}
/* fim do reset */

body{
    /* sempre vai ter a largura inteira e não a altura */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* falar que eles vao ficar organizados em colunas */
    padding-inline: 80px;
    /* inline significa direita e esquerda */
    background-color: #E9DABE;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    /* se espalha mais o que vc puder */
    align-items: center;
    /* para deixar no centro da div */
}
.logo{
    height: 80px;
    width: 100px;
    background-color: lightgray;
    background-image: url(./coca-colaLogo.jpg);
    background-position: center;
    background-size: cover;
}
.menu ul{
    display: flex;
    gap: 32px;
    /* gap: espaço entre eles */
    font-size: 32px;
}
main{
    flex-grow: 1;
    /* se estique o max que vc puder */
    display: flex;
    /* organize seus filhos com display flex um do lado do outro */
}
.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 96px;
}
.conteudo p{
    font-size: 40px;
    width: 80%;
    /* falando para ele ocupar 80% do pai (usar porcentagem qnd se referir ao pai) */
}
.conteudo button{
    height: 96px;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 32px;
}
.conteudo .social{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.conteudo .social div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* sao as bordas, para deixa-lo uma bolinha */
    background-color: lightgray;
}
.conteudo .social .insta{
    background-image: url(./fotoinsta.png);
    background-position: center;
    /* indica a pisição da imagem de fundo */
    background-size: cover;
    /* o tamanho que ela devera ter (fixo ou percentual) */
    /* link da documentação https://blog.betrybe.com/css/css-background-image/#1 */
}

.conteudo .social .face{
    background-image: url(./face.jpeg);
    background-position: center;
    background-size: cover;
}

.conteudo .social .tiktok{
    background-image: url(./tiktok.webp);
    background-position: center;
    background-size: cover;
}

.destaque{
    width: 50%;
    background-image: url(./cocacolaCerto.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
footer{
height: 100px;
display: flex;
justify-content: center;
align-items: center;
color: red;
}